.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;

}


.Logo {
  height: 15vmin;
  pointer-events: none;

}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: lightblue;
}